
.container{
    background-color: white;
    
}

.dev{
    display: none;
}
.user{
    display: none;
}
.del{
    display: none;
}

 #u{
    position: absolute;
    text-align: center;
font-size: 35px;
color:blue;
padding-top: 50px;
padding-left: 20px; 
}
 #del{
position:relative;

    
} 


#you{
    position: absolute;
    text-align: center;
font-size: 35px;
color:blue;
padding-top: 50px;
padding-left: 20px; 
}
 #use{
position:relative;


    
} 

#done{
    position: absolute;
    text-align: center;
font-size: 35px;
color:blue;
padding-top: 50px;
padding-left: 20px; 
}
 #well{
position:relative;

    
} 


#say{
    position: absolute;
    text-align: center;
font-size: 35px;
color:blue;
padding-top: 50px;
padding-left: 20px; 
}
 #said{
position:relative;

    
} 

#sa{
    position: absolute;
    text-align: center;
font-size: 35px;
color:blue;
padding-top: 50px;
padding-left: 20px; 
}
 #nice{
position:relative;


    
} 

#s{
    position: absolute;
    text-align: center;
font-size: 35px;
color:blue;
padding-top: 50px;
padding-left: 20px; 
}
 #new{
position:relative;


    
} 

#joy{
    position: absolute;
    text-align: center;
font-size: 35px;
color:blue;
padding-top: 50px;
padding-left: 20px; 
}
 #ice{
position:relative;


    
} 
#post{
    position: absolute;
    text-align: center;
font-size: 35px;
color:blue;
padding-top: 50px;
padding-left: 20px; 
}
 #pest{
position:relative;}